/*
Theme Name: mzborowski
Author: Marek Zborowski
*/


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* mzborowski THEME */

*,
*:before,
*:after {
	box-sizing: inherit;
	
} 

h1, h2, h3, h4, h5, h6, p, a {
    color: black;
    opacity: 0.9;
    font-family: 'Open Sans', sans-serif !important;
}

html {
	height: 100%;
}


html, body {
	position: relative;
	margin: 0;
	min-height: 100%;
	/* background-image: url('images/background.jpg') */
}

a:link, a:visited {
	color: black;
	opacity: 0.9;
	text-decoration: none;
}

a:hover {
	color: black;
	opacity: 1;
}

a:active {
	color: black;
	opacity: 0.8;
}

strong { font-weight: bolder;}

.main-wrapper {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 20px;
	background-color: #efefef;
	text-align: center;
	height: 60px;
}

.home-page h1, .home-page h3 {
	font-weight: 100;
	text-align: center;
}

.home-page {
	padding-top: 30vh;
}

.menu-horizontal-container {display: none;}

/* INFO PAGE */
.info-realizacje-wrapper > li { margin-bottom: 30px; }
.pageId-4 > h4 { margin-top: 40px; }
.info-foto { text-aligin: center;  margin-left: -50px !important; }
.info-foto > div { margin: 10px; }
.info-foto img { width: 100px; height: 100px; border: 1px grey solid; border-radius: 4px; }